header {
    border-bottom: solid 2px gray;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 20px;
}

header h3 {
    text-transform: uppercase;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    color: orangered;
}

main {
    margin: 120px auto;
}

.image-container {
    float: left;
    width: 30%;
    height: 390px;
    margin: 1.33%;
}

.image-container img{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    header h3 {
        font-size: 1.5rem;

    }
    .image-container {
        float: none;
        display: block;
        width: 100%;
        height: auto;
        margin: auto;
    }
}



