/* defaults */
* {
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 1em auto;
    border: 1px solid #979797;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

h3 {
    text-transform: uppercase;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    color: orangered;
    border-bottom: 1px solid #979797;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(41, 40, 40);
    font-size: 1.2em;
}

/* grid */

.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.row::after{
    display: table;
    clear: both;
    content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Header */

header {
    border-bottom: 1px solid #3d3d3d;
    background: radial-gradient(#fff, #979797);
}

.pro-pic {
    width: 80%;
    border-radius: 50%;
    margin: 10px;
}

.name {
    margin-bottom: 0;
}

.description {
    margin-top: .4em;
    font-weight: lighter;
}

/* Primary navigation */

nav {
    text-align: right;
    margin: 0 2%;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
}

li a {
    text-decoration: none;
    color: #3d3d3d;
    display: block;
    width: 100%;
    padding: .5em;
}

li a:hover {
    color: #fff;
    background-color: #3d3d3d;
}

/* footer */

footer {
    /* margin: 0 20px; */
    padding: 0 20px;
    background-color: #3d3d3d;
    color: #fff;
}

footer li a, footer p {
    color: #fff;
}

footer li a:hover {
    background-color: #727070;
}

footer ul {
    text-align: right;
    list-style-type: none;
}

footer ul li {
    display: inline-block;
}

footer div:first-child {
    margin: 0;
}

/* home page */

.bio {
    border-bottom: 1px solid #3d3d3d;
    padding: 2em;
}

.bio p {
    text-align: center;
    color: #646363;
}

.bio p:nth-child(2) {
    font-size: 1.5em;
}

.details-container section,
.contact-main{
    padding: 2em 1.5em;
    margin: 5px 0;
    border-bottom: 1px solid #979797;
    background-color: #f0eded;
}

.details-container {
    border-bottom: 1px solid #979797;   
}

.details-container ul {
    list-style-type: "✅";
    list-style-position: outside;    
}

.details-container ul li ul {
    list-style-type: "❇️";
    list-style-position: outside;
}

.details-container li {
    padding-left: 5px;
}

.details-container li, div {
    margin-bottom: 10px;
}

/* contact page */

.contact-main {
    margin: 10px;
}

.input-form {
    padding: 30px;
    margin-left: 10%;
}

.form-element {
    width: 70%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #5e5c5c;
    background: #bebbbb;
    border-radius: 4px;
    font-size: 14px;
    display: block;
    margin: auto;
}

.form-element:focus {
    outline: none;
}

.btn {
    width: 50%;
    background-color: rgb(102, 211, 121);
    color: #141313;
    font-weight: bold;
}

.btn:hover {
    background-color: #78e098;
}

.map {
    padding: 20px;
}

/* gallery */
.name-title {
    text-transform: uppercase;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    color: orangered;
    border-bottom: 1px solid #979797;
}

/* blog */
.title {
    text-align: left;
    font-weight: 400;
}

.date {
    font-style: italic;
    text-align: right;
    border-top: 1px solid #979797;
    padding: 10px;
}

.image-container {
    float: left;
    width: 30%;
    height: 390px;
    margin: 1.33%;
    padding: 1em 0;
    border-bottom: 1px solid #979797;
}

.image-container img{
    width: 100%;
    height: 100%;
}

footer {
    clear: both;
}

/* my works */

.work-container {
    text-align: center;
}

.work-container a {
    display: inline-block;
    text-decoration: none; 
    background-color: rgb(102, 211, 121);
    padding: 1em 2em;
    border-radius: 5px;
    color: #141313;
}


/* media queries */

@media only screen and (max-width: 950px) {
    .container {
        width: 100%;
        margin: 0;
    }

    header .col-6 {
        width: 100%;
    }

    .form-element {
        width: 90%;
        margin: 0;
    }

    .btn {
        width: 70%;
        margin: auto;
    }

    .image-container {
        width: 42%;
        margin: 3%;
    }

}

@media only screen and (max-width: 650px){

    .hide-mobile {
        display: none;
    }

    [class*="col-"] {
        width: 100%;
    }

    nav {
        text-align: center;
        padding: 0;
    }

    nav ul {
        padding: 0;
    }

    footer {
        margin: 0;
        padding: 10px;
    }

    footer ul, p {
        text-align: center;
        padding: 0;
    }

    .intro {
        text-align: center;
        font-size: .6em;
        margin: 0 10px;
    }

    .pro-pic {
        display: block;
        margin: auto;
    }

    .bio p, .bio p:nth-child(2){
        font-size: 1em;
    }

    .details-container div:first-child {
        margin-bottom: 0;
    }

    .details-container .top-skills {
        margin-bottom: 0;
    }

    .details-container {
        margin: 0 10px;
    }
    
    .details-container h3 {
        text-align: center;
    }

    .top-skills div {
        text-align: center;
    }

    h3 {
        font-size: 1.5rem;
        padding: 5px;
    }
    .image-container {
        float: none;
        display: block;
        width: 100%;
        height: auto;
        margin: auto;
        padding: 5px;
    }
}

